.categorylist{
  //position: relative;
  padding-top: 2rem;
  .hd{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    .head{
      background: #00a8ff;
      text-align: center;
      position: relative;
      color: #fff;
      font-weight: bold;

      .back{
        position: absolute;
        top: .22rem;
        left: 0.08rem;
        width: .58rem;
        height: .58rem;
        line-height: .58rem;
      }
      .title{
        height: 1.02rem;
        line-height: 1.02rem;
        font-size: 0.4rem;
      }
    }
    .navTop{
      display: flex;
      height: .8rem;
      justify-content: space-between;
      text-align: center;
      background: #00a8ff;
      color: #fff;
      .list{
        width: 6.6rem;
        line-height: 0.8rem;
        overflow-x: auto;
        ul{
          width: 200%;
          display: flex;

          li{
            padding: 0 .25rem;
            a{
              color: rgba(255,255,255,0.7);
            }
            a.active{
              font-weight: bold;
              color: #fff;
              position: relative;
              &::after{
                position: absolute;
                left:0;
                right: 0;
                bottom: -0.11rem;
                margin: auto;
                width: 100%;
                height: 2px;
                content: '';
                background: #fff;

              }
            }
          }
        }
      }
      .icon{
        width: 0.6rem;
        line-height: 0.8rem;
      }

    }
  }

  .menu {
    position: sticky;
    top: 1.8rem;
  }

}