
/*底部导航*/
.indexFootNav{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1.0rem;
  box-shadow: 0 -1px 2px rgba(0,0,0,0.1);
  background: #fff;
  display: flex;

  a{
    flex: 1;
    display: inherit;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #333;
    font-size: 0.2rem;

    i{
      width: 0.5rem;
      height: 0.5rem;
      font-size: 0.4rem;
    }
  }
  a.active{
    color: #0089dc;
  }
}
